*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #FFF3E6;
}
/*ESTILIZAÇÃO DO HEADER*/
/*DISPLAY FLEX*/
.flex{
    display: flex;
}
.flex-start{
    justify-content: start;
}
.flex-end{
    justify-content: end;
}
/*CONTAINER´S*/
.container {
    display: flex;
    max-height: 90px;
    margin: 0;
    padding: 1vh;
    background-color: #FFC0CB;
}
.ul_conteiner{
    display: flex;
    margin-left: auto;
}
.image_logo{
    height: 500px;
    display: flex;
    justify-content: space-between;
    justify-content: end;
   
}   
.item{

    list-style-type: none;
    margin: 5px;
}
ul{

    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 2vh;
    overflow: hidden;
}
a{
    background-color: #fb99cabe;
    border-radius: 15px;
    margin: auto;
    width: 100px;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
}
li{

    float: right;

}
li a{
    display: block;
    color: rgb(255, 255, 255); 
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    border: solid 3px #FF69B4;
}
li a:hover{
    background-color: #9DE0DC;
    color: white;
}
#im{
    max-height: 15vh;
}
    
.main {
    display: grid;
    place-content: center;
    grid-template-areas: 
    "img1 ";
    grid-area: main;
    border: none;
    width: 100%;
    gap: 3vh 4vh;
    font-size: 20px;
    text-align: center;
}

.main img {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.img1{
    margin-top: 50px;
}
.img1{
    margin-left: 50px;;
}

.texto1{
    text-align: center;
}
.texto2{
    text-align: center;
}
.texto3{
    text-align: center;
}
.texto4{
    text-align: center;
}
.cordofundo{
    background-color:#FFC0CB;
    text-align: center;
    margin: auto;
    width: 400px;
    height: 200px;
}